WHATSAPP_MODE=sandbox
WHATSAPP_SANDBOX_PHONE_NUMBER_ID=<test_number_id>
WHATSAPP_SANDBOX_ACCESS_TOKEN=<temp_token>
WHATSAPP_SANDBOX_TEST_RECIPIENTS=+1234567890
WHATSAPP_LIVE_BUSINESS_ACCOUNT_ID=<account_id>
WHATSAPP_LIVE_PHONE_NUMBER_ID=<number_id>
WHATSAPP_LIVE_ACCESS_TOKEN=<long_lived_token>
